


@using HtmlTags
@using MethodFitness.Core.Html.FubuUI
@using MethodFitness.Core.Services
@using MethodFitness.Web
@using MethodFitness.Web.Controllers
@model ClientViewModel

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section HeaderJavascript{
    extraFormOptions.deleteUrl = '@Model.DeleteUrl';
    extraFormOptions.paymentListUrl = '@Model.PaymentListUrl';

    $(document).ready(function(){
        $("[name='Item.FirstName']").focus();
    });
    
}
@section ExtraContentHeaderButtons{
    <button class="delete" title="@WebLocalizationKeys.REMOVE"></button>
    <button class="payment" title="@WebLocalizationKeys.MAKE_PAYMENT"></button>
}

  @MvcHtmlString.Create(FormFor<ClientController>(x => x.Save(null)).AddClass("CRUD").ElementId("CRUDForm").ToString())
        <input type="hidden" id="EntityId" name="EntityId" value="@Model.Item.EntityId">
        <div class="col left">
            <div class="fieldRow">
                <h4>@WebLocalizationKeys.CLIENT_INFORMATION</h4>
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.FirstName).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.LastName).AddClassToRoot("half last").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.BirthDate).AddClassToRoot("half first").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.Address1).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.Address2).AddClassToRoot("half").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.City).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.State).AddClassToRoot("one-quarter").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.ZipCode).AddClassToRoot("one-quarter").ToHtmlTag()
            </div>
            
        </div>
        <div class="col right">
             <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.Email).ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.MobilePhone).AddClassToRoot("first half").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.SecondaryPhone).AddClassToRoot("half").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.Source).AddClassToRoot("half first").InputId("source").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.StartDate).AddClassToRoot("half").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.SourceOther).RootId("other").AddClassToRoot("first").LabelDisplay(WebLocalizationKeys.OTHER).ToHtmlTag()
            </div>
        </div>
        <div class="col full clear">
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.Notes).ToHtmlTag()
            </div>
        </div>
        @if (UserPermissionService.Allow("/Billing/ChangeClientRates"))
        {
            <div class="col full clear"></div>
            <div class="col left">
                <div class="fieldRow">
                    <h4>@WebLocalizationKeys.CLIENT_RATES</h4>
                </div>
                <div class="fieldRow">
                    @Html.SubmissionFor(x => x.Item.SessionRates.FullHour).AddClassToRoot("half first").ToHtmlTag()
                </div>
                <div class="fieldRow">
                    @Html.SubmissionFor(x => x.Item.SessionRates.HalfHour).AddClassToRoot("half first").ToHtmlTag()
                </div>
                <div class="fieldRow">
                    @Html.SubmissionFor(x => x.Item.SessionRates.FullHourTenPack).AddClassToRoot("half first").ToHtmlTag()
                </div>
                <div class="fieldRow">
                    @Html.SubmissionFor(x => x.Item.SessionRates.HalfHourTenPack).AddClassToRoot("half first").ToHtmlTag()
                </div>
                <div class="fieldRow">
                    @Html.SubmissionFor(x => x.Item.SessionRates.Pair).AddClassToRoot("half first").ToHtmlTag()
                </div>
            </div>
        }
    @EndForm()
        <div class="col right">
            <div class="fieldRow">
                <h4>@WebLocalizationKeys.CURRENT_CLIENT_INVENTORY</h4>
            </div>
            <div class="fieldRow">
                @Html.ViewFor(x => x.SessionsAvailable.FullHour).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("fullHour").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.ViewFor(x => x.SessionsAvailable.HalfHour).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("halfHour").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.ViewFor(x => x.SessionsAvailable.Pair).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("pair").ToHtmlTag()
            </div>
        </div>
