@using MethodFitness.Web;
@using HtmlTags

    @RenderSection("ExtraCss", false)

    @RenderSection("HeaderScripts", false)

<script>
    var contentArea;
        @RenderSection("HeaderJavascript", false)
</script>

   <div class="content-header">
        <span class="title-name">@Model.Title</span>
    </div>
    <div id="contentArea" class="content-inner">
        @RenderBody()
         <div class="footer">
            @StandardButtonFor("save", WebLocalizationKeys.SAVE).AddClass("save").ToHtmlTag()
            @StandardButtonFor("cancel", WebLocalizationKeys.CANCEL).AddClass("cancel").ToHtmlTag()
        </div>
    </div>
