@using HtmlTags
@using MethodFitness.Web
<!--[if IE]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- [Else]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- [endif]-->
<html>
<head>
    <title>@ViewBag.Title</title>
    @CSS("jquery.miniColors.css").ToHtmlTag()    
     @CSS("fullcalendar.css").ToHtmlTag()
    @CSS("token-input.css").ToHtmlTag()

    @CSS("jquery-ui-1.8.16.custom.css").ToHtmlTag()
    @CSS("ui.multiselect.css").ToHtmlTag()
    @CSS("fileinput.css").ToHtmlTag()
    @CSS("ui.jqgrid.css").ToHtmlTag()
    <!--[if gt IE 7]>
    @CSS("ie.css").ToHtmlTag()
     <![endif]-->
    @CSS("main.css").ToHtmlTag()
    @CSS("token-input.css").ToHtmlTag()
    @CSS("fg.menu.css").ToHtmlTag()
    @CSS("jquery.cleditor.css").ToHtmlTag()

    @CSS("mf.css").ToHtmlTag()

    @RenderSection("ExtraCss", false)

    @Script("jqueryPlugins/jquery-1.7.1.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.transform-0.9.3.min.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery-ui-1.8.16.custom.min.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.validate.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.form.2.83.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.tokeninput.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.ie-select-style.pack.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.pubsub.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.cleditor.min.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.ui.timepicker-0.0.8.js").ToHtmlTag()
     @Script("jqueryPlugins/grid.locale-en.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.jqGrid.src.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery-tmpl.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.miniColors.js").ToHtmlTag()

    @Script("externalHelpers/modernizr-2.0.min.js").ToHtmlTag()
    @Script("externalHelpers/respond.min.js").ToHtmlTag()
    @Script("externalHelpers/fullcalendar.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.metadata.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.address-1.4.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.Jcrop.js").ToHtmlTag()
    @Script("externalHelpers/underscore.js").ToHtmlTag()
    @Script("externalHelpers/backbone.js").ToHtmlTag()
    @Script("externalHelpers/backbone.marionette.js").ToHtmlTag()
    @Script("MF/MF.App.js").ToHtmlTag()
    @Script("MF/MF.Controller.js").ToHtmlTag()
    @Script("MF/MF.Header.js").ToHtmlTag()
    @Script("MF/MF.Views.js").ToHtmlTag()
    @Script("MF/MF.Routing.js").ToHtmlTag()
    @Script("MF/MF.State.js").ToHtmlTag()
    @Script("MF/MF.WorkflowManager.js").ToHtmlTag()
    @Script("MF/Schedule/MF.ScheduleApp.js").ToHtmlTag()
    @Script("MF/Schedule/MF.ScheduleApp.Menu.js").ToHtmlTag()
    @Script("MF/Schedule/MF.ScheduleApp.Routing.js").ToHtmlTag()
    @Script("MF/Schedule/MF.ScheduleApp.Views.js").ToHtmlTag()
    @Script("MF/Billing/MF.BillingApp.Routing.js").ToHtmlTag()
    @Script("MF/Billing/MF.BillingApp.Views.js").ToHtmlTag()
    
    @Script("externalHelpers/superfish.js").ToHtmlTag()
    @Script("externalHelpers/ba-debug.js").ToHtmlTag()
    @Script("internalHelpers/cc.ccMenu.js").ToHtmlTag()
    @Script("internalHelpers/jquery.cc.grid.js").ToHtmlTag()
    @Script("internalHelpers/cc.grid.columnService.js").ToHtmlTag()
    @Script("internalHelpers/cc.gridHelpers.js").ToHtmlTag()
    @Script("internalHelpers/mf.gridSearch.js").ToHtmlTag()
    @Script("internalHelpers/MF.repository.js").ToHtmlTag()
    @Script("internalHelpers/jquery.mf.calendar.js").ToHtmlTag()

    @Script("internalHelpers/cc.utilities.js").ToHtmlTag()
    @Script("internalHelpers/cc.Notifications.js").ToHtmlTag()
    @Script("internalHelpers/cc.crudForm.js").ToHtmlTag()
    @Script("internalHelpers/mf.mediaHandler.js").ToHtmlTag()
    @Script("externalHelpers/json2.js").ToHtmlTag()
    @Script("externalHelpers/xdate.js").ToHtmlTag()
    @Script("mf.baseClass.js").ToHtmlTag()
    @Script("mf.home.js").ToHtmlTag()
    
    <link rel="SHORTCUT ICON" href="@Url.Content("~/content/images/favicon.ico")"/>
    @RenderSection("HeaderScripts", false)


     <script type="text/javascript">
        var entityId = @Model.EntityId ;
        var parentId = @Model.ParentId ;
        var rootId = @Model.RootId ;
        var mfCurrentLocaton;
        var extraFormOptions = {};
        extraFormOptions.crudFormOptions = { };
        MF.routeTokens = @MvcHtmlString.Create(JsonUtil.ToJson(@Model.SerializedRoutes));
        
        @RenderSection("HeaderJavascript", false)

        </script>
    </head>

    <body id="methodFitness" class="mf_dyn">
    <div id="ajaxLoading" style="z-index: 1000">&nbsp;</div>
        @Html.Action("MethodFitnessHeader", "Orthogonal")
        <div id="top-separator"></div>
        <div id="main-body">
            <div id="left-navigation" class="mf_menuContainer">
            </div>
            <div id="main-content">
                <div class="content-outer" >
                    <div id="contentInner">
                        @RenderBody()
                    </div>
                    <div class="content-footer"><span>&nbsp;</span></div>
                </div>

            </div>
        </div>
    </body>
    
    
    
    <script id="gridTemplate" type="text/x-jQuery-tmpl">
        <div class="content-header">
            <input class="search" /> 
            <button style="display:none" id="new" class="new" title="@WebLocalizationKeys.NEW"></button>
            <button style="display:none" class="delete" title="@WebLocalizationKeys.DELETE_ITEMS"></button>
            <button style="display:none" class="return" title="@WebLocalizationKeys.RETURN"></button>
            <span class="title-name">${Title}</span>
        </div>
        <div id="contentArea" class="content-inner">
            <div id="validation-container-wrapper">
                <div id="errorMessagesGrid" class="dci_ErrorMessages errorMessages"><ul></ul></div>
            </div>
            {{if EntityId}}
            <input id="EntityId" type="hidden" value="${EntityId}"/>
            {{/if}}
            {{if ParentId}}
            <input id="ParentId" type="hidden" value="${ParentId}"/>
            {{/if}}
            <table id="gridContainer" class="scroll"></table>
            <div id="pager" class="scroll" style="text-align:center;"></div>
        </div>
    </script>
    
    <script id="payTrainerTemplate" type="text/x-jQuery-tmpl">
        <div class="col left">
            <div class="fieldRow">
                Are you sure you would like to pay $${amount} to ${trainersName}?
            </div>
        </div>
    </script>
    
    <script id="payTrainerSearchTemplate" type="text/x-jQuery-tmpl">
        <div id="filterArea">
            <div class="headerInput">@WebLocalizationKeys.END_DATE
            <input type="text" id="end_date" class="datePicker"/></div>
            <button id="search" class="filter" title="@WebLocalizationKeys.FILTER"></button>
        </div>
    </script>
</html>
