@using CC.Core.Html.CCUI
@using MethodFitness.Web
@model MF.Web.Areas.Reporting.Controllers.ActivityViewModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<div class="row">
    @Html.SubmissionFor(x=>x.Trainer).Size("5").ToHtmlTag()
    @Html.SubmissionFor(x=>x.Client).Size("5").ToHtmlTag()
    @Html.SubmissionFor(x=>x.Location).Size("5").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x=>x.StartDate).Size("3").ToHtmlTag()
    @Html.SubmissionFor(x=>x.EndDate).Size("3").ToHtmlTag()
</div>
@section FooterButtons
{
    @StandardButtonFor("viewReport", WebLocalizationKeys.VIEW_REPORT).AddClass("save").ToHtmlTag()
}

