@using HtmlTags
@using MethodFitness.Core.Html.FubuUI
@using MethodFitness.Web
@using MethodFitness.Web.Controllers
@model UserViewModel

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section HeaderJavascript{
    var userRolesOptions = {
    availableItems: @MvcHtmlString.Create(JsonUtil.ToJson(Model.AvailableItems)),
    selectedItems: @MvcHtmlString.Create(JsonUtil.ToJson(Model.SelectedItems))
    }
    var clientOptions={
    availableItems: @MvcHtmlString.Create(JsonUtil.ToJson(Model.AvailableClients)),
    selectedItems: @MvcHtmlString.Create(JsonUtil.ToJson(Model.SelectedClients)),
    selectedItemsArray: "SelectedClients"
    }
    extraFormOptions.userRolesOptions = userRolesOptions;
    extraFormOptions.clientOptions = clientOptions;
    extraFormOptions.deleteUrl = '@Model.DeleteUrl';
    extraFormOptions.crudFormOptions={};
    extraFormOptions.crudFormOptions.additionBeforeSubmitFunc = function(arr){
        var items =$("[name='ClientsInput']").data('selectedItems');
        $.each(items, function(i,item){
            arr.push({"name":"SelectedClients["+i+"].id","value":item.id});
            arr.push({"name":"SelectedClients["+i+"].name","value":item.name});
            arr.push({"name":"SelectedClients["+i+"].percentage","value":item.percentage});
        });
    }


}
@section ExtraContentHeaderButtons{
    <button class="delete" title="@WebLocalizationKeys.REMOVE"></button>
}

  @MvcHtmlString.Create(FormFor<TrainerController>(x => x.Save(null)).AddClass("CRUD").ElementId("CRUDForm").ToString())
        <input type="hidden" id="EntityId" name="EntityId" value="@Model.Item.EntityId">
        <div class="col left">
            <div class="fieldRow">
                <h4>@WebLocalizationKeys.PERSONAL_INFORMATION</h4>
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.FirstName).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.LastName).AddClassToRoot("half last").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.ViewFor(x => x.Item.UserLoginInfo.LoginName).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.BirthDate).AddClassToRoot("half").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.Address1).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.Address2).AddClassToRoot("half").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.City).AddClassToRoot("half first").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.State).AddClassToRoot("one-quarter").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.ZipCode).AddClassToRoot("one-quarter").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @WebLocalizationKeys.SELECT_COLOR_TO_ASSOCIATE_WITH_THIS_PERSON.ToString()
            </div>
            <div class="fieldRow">
                @MvcHtmlString.Create(Html.SubmissionFor(x => x.Item.Color).HideLabel().AddClassToRoot("first half").InputId("color").ToString())
                <div id="colorPicker"></div>
            </div>
           <div class="fieldRow artifact-field">
                <div id="userRoles">
                    <label class="section">@WebLocalizationKeys.USER_ROLES</label>
                    <div id="userRoles" class="dci_assetSection">
                        <div class="instruction" id="hasAssets">@WebLocalizationKeys.SELECT_ONE_OR_MORE.ToString()</div>
                        <input type="text" name="UserRolesInput" id="Input" class="artifact nolabels"/>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col right">
            <div class="fieldRow">
                <h4>@WebLocalizationKeys.PASSWORD</h4>
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.UserLoginInfo.LoginName).ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Password).InputId("Password").ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.PasswordConfirmation).ToHtmlTag()
            </div>
             <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.Email).ToHtmlTag()
            </div>
            <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.PhoneMobile).AddClassToRoot("first half").ToHtmlTag()
                @Html.SubmissionFor(x => x.Item.SecondaryPhone).AddClassToRoot("half").ToHtmlTag()
            </div>
             <div class="fieldRow">
                @Html.SubmissionFor(x => x.Item.ClientRateDefault).ToHtmlTag()
            </div>
            <div class="fieldRow artifact-field">
                <div id="clients">
                    <label class="section">@WebLocalizationKeys.CLIENTS</label>
                    <div id="clients" class="dci_assetSection">
                        <div class="instruction" id="hasAssets">@WebLocalizationKeys.SELECT_ONE_OR_MORE.ToString()</div>
                        <input type="text" name="ClientsInput" id="Input" class="artifact nolabels"/>
                    </div>
                </div>
            </div>
        </div>
     
    @EndForm()
    
        <script id="percentageTemplate" type="text/x-jQuery-tmpl">
            <input type="hidden" id="editingId" value="${id}" />
            <div class="col left">
                <div class="fieldRow">
                    <h3>@WebLocalizationKeys.TRAINER_PERCENTAGE_FOR_CLIENT</h3>
                    <div class="editor_root half first">
                        <div class="editor_label">
                            <label for="newTrainerPercentage">Trainer Percentage</label>
                        </div>
                        <div class="editor_input">
                            <input id="newTrainerPercentage" type="text" value='${percentage}'/>
                        </div>
                    </div>
                </div>
            </div>
        </script>