@model ReviewViewModel
@using DecisionCritical.Core.Html.Expressions;
@using DecisionCritical.Core.Html.FubuUI;
@using DecisionCritical.Web;
@using DecisionCritical.Web.Areas.Portfolio.Controllers
@using DecisionCritical.Web.Controllers;
@using DecisionCritical.Web.Models;
@using System.Web.Mvc.Html;

@{ Layout = "~/Views/Shared/_popupLayout.cshtml"; }

        <div id="puErrorMessages" class="dci_puErrorMessages errorMessages" ><ul></ul></div>   
            @MvcHtmlString.Create(FormFor<ReviewController>(x => x.Save(null)).Class("dci_CRUD").ElementId("CRUDForm").ToString())
            <input type="hidden" id="EntityId" name="EntityId" value="@Model.Review.EntityId">
             @Html.SubmissionFor(x => x.Review.Name).ToHtmlTag()
            @Html.SubmissionFor(x => x.Review.Description).ToHtmlTag()
            @EndForm()
            @Html.Partial("DocumentHandler", Model.DocumentTokenViewModel)