@model CalendarViewModel
@using MethodFitness.Core.CoreViewModelAndDTOs
@using HtmlTags
@using MethodFitness.Core.Html.FubuUI
@using MethodFitness.Web
@using MethodFitness.Web.Models
<script>
    
    var calendarDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.CalendarDefinition));
    calendarDef.calendarContainer="#calendar";
    var options = {
        calendarDef: calendarDef,
        trainers: @MvcHtmlString.Create(JsonUtil.ToJson(Model.Trainers))
    };
    $(document).ready(function(){
        new mf.AppointmentCalendarController(options);
        });

</script>

<div class="content-header">
    @Html.SubmissionFor(x=>x.Location).HideLabel().ToHtmlTag()
    <span class="title-name">@Model.Title</span>
</div>
<div id="contentArea" class="content-inner">
    <div id="errorMessagesCalendar" class="dci_ErrorMessages errorMessages"><ul></ul></div>
    <div id="legend" class="legend">
        <h3>@WebLocalizationKeys.TRAINERS</h3>
      
    </div>
    <div class="calendarContainer">
            <div id='calendar'></div>
            <div class="footer">
        </div>
    </div>
</div>


