@model LoginViewModel
@using MethodFitness.Core.Html.Expressions
@using MethodFitness.Core.Html.FubuUI
@using MethodFitness.Web
@using MethodFitness.Web.Controllers
@using HtmlTags

@{
    Layout = "";
}
<!--[if IE]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- [Else]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- [endif]-->
<html>
    <head>
    <title>Login</title>

    @CSS("jquery-ui-1.8.16.custom.css").ToHtmlTag()
    @CSS("main.css").ToHtmlTag()
    <!--[if gt IE 7]>
    @CSS("ie.css").ToHtmlTag()
     <![endif]-->
     @CSS("mf.css").ToHtmlTag()
    @Script("jqueryPlugins/jquery-1.6.2.min.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery-ui-1.8.16.custom.min.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.validate.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.form.js").ToHtmlTag()
    @Script("internalHelpers/cc.utilities.js").ToHtmlTag()
    @Script("internalHelpers/cc.Notifications.js").ToHtmlTag()
    @Script("internalHelpers/cc.crudForm.js").ToHtmlTag()
    @Script("externalHelpers/underscore.js").ToHtmlTag()
    @Script("externalHelpers/backbone.js").ToHtmlTag()

    @Script("mf.baseClass.js").ToHtmlTag()
    @Script("mf.PopupView.js").ToHtmlTag()
    @Script("mf.FormView.js").ToHtmlTag()
    @Script("mf.ajaxPopupFormModule.js").ToHtmlTag()
    @Script("mf.forgottenPasswordController.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.pubsub.js").ToHtmlTag()
    @Script("jqueryPlugins/jquery.metadata.js").ToHtmlTag()
    @Script("externalHelpers/json2.js").ToHtmlTag()
    
    <link rel="SHORTCUT ICON" href="@Url.Content("~/content/images/favicon.ico")"/>
    <script type="text/javascript">
        
       var forgotPasswordUrl =@MvcHtmlString.Create(JsonUtil.ToJson(Model.ForgotPasswordUrl));
        var popupTitle = "@Model.ForgotPasswordTitle";
		
		var extraFormOptions = {};

        $(document).ready(function () {
            var loginArea = new cc.NotificationArea("loginArea","#errorMessagesGrid","#errorMessagesForm",MF.vent);
            loginArea.render("body#signin");
            MF.notificationService = new cc.MessageNotficationService();
            MF.notificationService.addArea(loginArea);
            $('.mf_CRUD').crudForm({},"loginArea");
            $("#save").click(function (event) {
                $("#CRUDForm").submit();
                event.preventDefault();
            });

            $("#forgotPasswordArea").hide();

            $("#forgotPassword").click(function () {
                new mf.ForgottenPasswordController({el: "#forgotPassword",
                        id: "forgotPasswordController",
                        forgottenPasswordUrl: forgotPasswordUrl,
                        title: popupTitle });
            });

            $("input[name='UserName']").focus();

        });
        </script>
    </head>
    <body id="signin">
        <div id="outer-wrapper">
            <div class="content-outer">
                <div class="content-header"></div>
                <div class="content-inner norequired">
                    @MvcHtmlString.Create(FormFor<LoginController>(l => l.Login(null)).AddClass("mf_CRUD").ElementId("CRUDForm").ToString())
                        
                        <div class="signin">
                            <div class="col">
                                <label class="big">@WebLocalizationKeys.SIGN_IN</label>
                                <div id="validation-container-wrapper">
                                    <div id="errorMessagesForm" class="mf_ErrorMessages errorMessages"><ul></ul></div>
                                </div>
                                <div class="fieldRow">
                                    @Html.SubmissionFor(x => x.UserName).ToHtmlTag()
                                </div>
                                <div class="fieldRow">
                                    @Html.SubmissionFor(x => x.Password).ToHtmlTag()
                                </div>
                                <div class="fieldRow">
                                    @Html.SubmissionFor(x => x.RememberMe).AddClassToRoot("checkbox").InlineReverse().ToHtmlTag()
                                </div>
                            </div>
                            <div class="footer some-top-padding">
                                @StandardButtonFor("save", WebLocalizationKeys.SIGN_IN).AddClass("save").AddClass("mf_submitButton").ToHtmlTag()
                                <a href="#" id="forgotPassword">@WebLocalizationKeys.FORGOT_YOUR_PASSWORD</a>
                            </div>
                        </div>
                    @EndForm()
                </div>
                <div class="content-footer"><span></span></div>
            </div>
        </div>
        <div id="forgotPasswordArea"></div>
    </body>
</html>
