@using CC.Core.Html.CCUI
@using MethodFitness.Core.Services
@using MethodFitness.Web
@using MethodFitness.Web.Areas.Schedule.Controllers
@model AppointmentViewModel
@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.LocationEntityId).LabelDisplay(WebLocalizationKeys.LOCATION).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @if (@UserPermissionService.Allow("/Calendar/SetAppointmentForOthers"))
            {
                @Html.SubmissionFor(x => x.TrainerEntityId).LabelDisplay(WebLocalizationKeys.TRAINER).ToHtmlTag()
            }
            else
            {
                @Html.ViewFor(x => x.TrainerFullNameFNF).LabelDisplay(WebLocalizationKeys.TRAINER).ToHtmlTag()
@*                @Html.SubmissionFor(x => x.TrainerEntityId).HideRoot().ToHtmlTag()*@
            }
        </div>
        <div class="fieldRow artifact-field">
                @Html.SubmissionFor(x => x.ClientsDtos).ElType("MultiSelect").LabelDisplay(WebLocalizationKeys.CLIENTS).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.AppointmentType).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Date).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.StartTimeString).LabelDisplay(WebLocalizationKeys.STARTTIME).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.ViewFor(x => x.EndTimeString).LabelDisplay(WebLocalizationKeys.ENDTIME).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Notes).ToHtmlTag()
        </div>
    </div>

