@model AppointmentViewModel
@using MethodFitness.Core.Html.FubuUI
@using MethodFitness.Web
@using MethodFitness.Web.Areas.Schedule.Controllers

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}
        @MvcHtmlString.Create(Html.HiddenFor(x => x.Appointment.EntityId, new { @class = "copyEntityId" }).ToString())
            <input type="hidden" name="Appointment.EntityId" id="EntityId" value="@Model.Appointment.EntityId"/>
            <input type="hidden" name="AddUpdateUrl" id="AddUpdateUrl" value="@Model.AddUpdateUrl"/>
<div class="col full">
    <div class="fieldRow">
        @Model.Appointment.Date.Value.ToLongDateString(), @Model.Appointment.StartTime.Value.ToShortTimeString() - @Model.Appointment.EndTime.Value.ToShortTimeString()    
    </div>
</div>

<div class="puCol left">
    <div class="fieldRow">
        @Html.ViewFor(x => x.Appointment.Trainer.FullNameFNF).LabelDisplay(WebLocalizationKeys.TRAINER).ToHtmlTag()
    </div> 
    <div class="fieldRow">
        @Html.ViewFor(x => x.Appointment.Location.Name).LabelDisplay(WebLocalizationKeys.LOCATION).ToHtmlTag()
    </div>
    
</div>
<div class="puCol right">
      
    <div class="fieldRow">
        <div class="view_root half first">
            <div class="view_label">
                <label>@WebLocalizationKeys.CLIENTS:</label>
            </div>
            <div class="view_display">
                @foreach (var c in @Model.Appointment.Clients)
                {
                    <span>@c.FullNameLNF</span>
                    <br/>  
                }
            </div>
        </div>
    </div>
</div>
<div class="col full clear">
    <div class="fieldRow">
        @Html.ViewFor(x => x.Appointment.Notes).ToHtmlTag()
    </div>
</div>

