@using HtmlTags
@using MethodFitness.Core.Enumerations
@using MethodFitness.Core.Html.FubuUI
@using MethodFitness.Web
@using MethodFitness.Web.Areas.Billing.Controllers
@model PaymentViewModel

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section HeaderJavascript{
    extraFormOptions.sessionRates = @MvcHtmlString.Create(JsonUtil.ToJson(@Model.SessionRateDto));
}

<div id="errorMessagesForm" class="mf_ErrorMessages errorMessages"><ul></ul></div>
@MvcHtmlString.Create(FormFor<PaymentController>(x => x.Save(null), AreaName.Billing).AddClass("CRUD").ElementId("CRUDForm").ToString())
    <input type="hidden" name="EntityId" value="@Model.EntityId"/>
    <input type="hidden" name="ParentId" value="@Model.ParentId"/>
    <input type="hidden" name="Item.FullHoursPrice" value="@Model.SessionRateDto.FullHour"/>
    <input type="hidden" name="Item.FullHourTenPacksPrice" value="@Model.SessionRateDto.FullHourTenPack"/>
    <input type="hidden" name="Item.HalfHoursPrice" value="@Model.SessionRateDto.HalfHour"/>
    <input type="hidden" name="Item.HalfHourTenPacksPrice" value="@Model.SessionRateDto.HalfHourTenPack"/>
    <input type="hidden" name="Item.PairsPrice" value="@Model.SessionRateDto.Pair"/>
    
<div class="col left">
    <div class="fieldRow">
        <h4>@WebLocalizationKeys.CLIENT_PURCHASE</h4>
    </div><div class="fieldRow">
        @Html.SubmissionFor(x => x.Item.FullHours).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("fullHour").ToHtmlTag()
        <div class="view_root">
            <div class="view_label"></div>
            <div class="view_input">
                <span id="fullHourTotal">$0</span>
            </div>
        </div>
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Item.HalfHours).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("halfHour").ToHtmlTag()
        <div class="view_root">
            <div class="view_label"></div>
            <div class="view_input">
                <span id="halfHourTotal">$0</span>
            </div>
        </div>
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Item.FullHourTenPacks).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("fullHourTenPack").ToHtmlTag()
        <div class="view_root">
            <div class="view_label"></div>
            <div class="view_input">
                <span id="fullHourTenPackTotal">$0</span>
            </div>
        </div>
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Item.HalfHourTenPacks).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("halfHourTenPack").ToHtmlTag()
        <div class="view_root">
            <div class="view_label"></div>
            <div class="view_input">
                <span id="halfHourTenPackTotal">$0</span>
            </div>
        </div>
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Item.Pairs).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("pair").ToHtmlTag()
        <div class="view_root">
            <div class="view_label"></div>
            <div class="view_input">
                <span id="pairTotal">$0</span>
            </div>
        </div>
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Item.PairsTenPack).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("pairTenPack").ToHtmlTag()
        <div class="view_root">
            <div class="view_label"></div>
            <div class="view_input">
                <span id="pairTenPackTotal">$0</span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Item.PaymentTotal).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input disableInput").InputId("total").ToHtmlTag()
    </div>
</div>
<div class="col right">
    <div class="fieldRow">
        <h4>@WebLocalizationKeys.CURRENT_CLIENT_INVENTORY</h4>
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x.SessionsAvailable.FullHour).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("fullHour").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x.SessionsAvailable.HalfHour).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("halfHour").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x.SessionsAvailable.Pair).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("pair").ToHtmlTag()
    </div>
</div>