@using CC.Core.Html.CCUI
@using MethodFitness.Web
@using MethodFitness.Web.Areas.Billing.Controllers
@model PaymentViewModel

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}


<div class="row">
@*-----------Left Column-------------*@
    <div class="span10">
        <div class="row">
            <h5 class="stdTxtColor ml2 span8">@WebLocalizationKeys.CLIENT_PURCHASE</h5>
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.FullHour).Size("5").InLine().AddClassToInput("payment_input").ToHtmlTag()
            @Html.ViewFor(x => x.FullHourPrice).Size("1").HideLabel().ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.FullHourTenPack).InLine().Size("5").AddClassToInput("payment_input").ToHtmlTag()
            @Html.ViewFor(x => x.FullHourTenPackPrice).Size("1").HideLabel().ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.HalfHour).InLine().Size("5").AddClassToInput("payment_input").ToHtmlTag()
            @Html.ViewFor(x => x.HalfHourPrice).Size("1").HideLabel().ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.HalfHourTenPack).InLine().Size("5").AddClassToInput("payment_input").ToHtmlTag()
            @Html.ViewFor(x => x.HalfHourTenPackPrice).Size("1").HideLabel().ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Pair).InLine().Size("5").AddClassToInput("payment_input").ToHtmlTag()
            @Html.ViewFor(x => x.PairPrice).Size("1").HideLabel().ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.PairTenPack).InLine().Size("5").AddClassToInput("payment_input").ToHtmlTag()
            @Html.ViewFor(x => x.PairTenPackPrice).Size("1").HideLabel().ToHtmlTag()
        </div>
        <div class="row">
            <hr class="hrClear span5"/>
        </div>
        <div class="row">
            @Html.ViewFor(x => x.PaymentTotal).Size("5").AddClassToInput("payment_input disableInput").ToHtmlTag()
        </div>
        <div class="row">
            @Html.SubmissionFor(x => x.Notes).Size("8").AddClassToInput("payment_input disableInput medium").ToHtmlTag()
        </div>
    </div>

    <div class="span1"></div>
@*-----------Right Column-------------*@
    <div class="span10">
        <div class="row">
            <h5 class="stdTxtColor ml2 span8">@WebLocalizationKeys.CURRENT_CLIENT_INVENTORY</h5>
        </div>
        <div class="row">
            <hr class="hrClear span5"/>
        </div>
        <div class="row">
            @Html.ViewFor(x => x._sessionsAvailable.FullHour).Size("5").AddClassToInput("payment_input").InputId("fullHour").ToHtmlTag()
        </div>
        <div class="row">
            @Html.ViewFor(x => x._sessionsAvailable.HalfHour).Size("5").AddClassToInput("payment_input").InputId("halfHour").ToHtmlTag()
        </div>
        <div class="row">
             @Html.ViewFor(x => x._sessionsAvailable.Pair).Size("5").AddClassToInput("payment_input").InputId("pair").ToHtmlTag()
        </div>
    </div>

</div>
