@using CC.Core.Html.CCUI
@using MethodFitness.Web
@using MethodFitness.Web.Areas.Billing.Controllers
@model PaymentViewModel

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="col left">
    <div class="fieldRow">
        <h4>@WebLocalizationKeys.CLIENT_PURCHASE</h4>
    </div><div class="fieldRow">
        @Html.SubmissionFor(x => x.FullHour).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").ToHtmlTag()
        @Html.ViewFor(x => x.FullHourPrice).HideLabel().ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.FullHourTenPack).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").ToHtmlTag()
        @Html.ViewFor(x => x.FullHourTenPackPrice).HideLabel().ToHtmlTag()
    </div>
     <div class="fieldRow">
        @Html.SubmissionFor(x => x.HalfHour).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").ToHtmlTag()
        @Html.ViewFor(x => x.HalfHourPrice).HideLabel().ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.HalfHourTenPack).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").ToHtmlTag()
        @Html.ViewFor(x => x.HalfHourTenPackPrice).HideLabel().ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Pair).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").ToHtmlTag()
        @Html.ViewFor(x => x.PairPrice).HideLabel().ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.PairTenPack).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").ToHtmlTag()
        @Html.ViewFor(x => x.PairTenPackPrice).HideLabel().ToHtmlTag()
    </div>
    <hr class="hrClear"/>
    <div class="fieldRow">
        @Html.ViewFor(x => x.PaymentTotal).AddClassToRoot("two-thirds").AddClassToInput("payment_input disableInput").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Notes).AddClassToInput("payment_input disableInput medium").ToHtmlTag()
    </div>
</div>
<div class="col right">
    <div class="fieldRow">
        <h4>@WebLocalizationKeys.CURRENT_CLIENT_INVENTORY</h4>
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x._sessionsAvailable.FullHour).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("fullHour").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x._sessionsAvailable.HalfHour).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("halfHour").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x._sessionsAvailable.Pair).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("pair").ToHtmlTag()
    </div>
</div>
