@using HtmlTags
@using MethodFitness.Core.Enumerations
@using MethodFitness.Core.Html.FubuUI
@using MethodFitness.Web.Areas.Billing.Controllers
@model PaymentViewModel

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section HeaderJavascript{
    extraFormOptions.sessionRates = @MvcHtmlString.Create(JsonUtil.ToJson(@Model.SessionRateDto));
}

<div id="errorMessagesForm" class="mf_ErrorMessages errorMessages"><ul></ul></div>
@MvcHtmlString.Create(FormFor<PaymentController>(x => x.Save(null), AreaName.Billing).AddClass("CRUD").ElementId("CRUDForm").ToString())
    @Html.SubmissionFor(x => x.Item.EntityId).HideRoot().ToHtmlTag()
    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.FullHours).AddClassToInput("half").InputId("fullHour").ToHtmlTag()
            <div class="view_root">
                    <div class="view_label"></div>
                    <div class="view_input">
                        <span id="fullHourTotal">0</span>
                    </div>
                </div>
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.HalfHours).InputId("halfHour").ToHtmlTag()
            <div class="view_root">
                <div class="view_label"></div>
                <div class="view_input">
                    <span id="halfHourTotal">0</span>
                </div>
            </div>
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.FullHourTenPacks).InputId("fullHourTenPack").ToHtmlTag()
            <div class="view_root">
                <div class="view_label"></div>
                <div class="view_input">
                    <span id="fullHourTenPackTotal">0</span>
                </div>
            </div>
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.HalfHourTenPacks).InputId("halfHourTenPack").ToHtmlTag()
            <div class="view_root">
                <div class="view_label"></div>
                <div class="view_input">
                    <span id="halfHourTenPackTotal">0</span>
                </div>
            </div>
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Item.Pairs).InputId("pair").ToHtmlTag()
            <div class="view_root">
                <div class="view_label"></div>
                <div class="view_input">
                    <span id="pairTotal">0</span>
                </div>
            </div>
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Total).InputId("total").AddClassToInput("disableInput").ToHtmlTag()
        </div>
    </div>