@using HtmlTags
@using MethodFitness.Core.Enumerations
@using MethodFitness.Core.Html.FubuUI
@using MethodFitness.Web
@using MethodFitness.Web.Areas.Billing.Controllers
@model PaymentViewModel

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="col left">
    <div class="fieldRow">
        <h4>@WebLocalizationKeys.CLIENT_PURCHASE</h4>
    </div><div class="fieldRow">
        @Html.SubmissionFor(x => x.FullHours).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("fullHour").ToHtmlTag()
        @Html.ViewFor(x => x.PairsTenPackPrice).HideLabel().InputId("fullHourTotal").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.HalfHours).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("halfHour").ToHtmlTag()
        @Html.ViewFor(x => x.PairsTenPackPrice).HideLabel().InputId("halfHourTotal").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.FullHourTenPacks).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("fullHourTenPack").ToHtmlTag()
        @Html.ViewFor(x => x.PairsTenPackPrice).HideLabel().InputId("fullHourTenPackTotal").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.HalfHourTenPacks).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("halfHourTenPack").ToHtmlTag()
        @Html.ViewFor(x => x.PairsTenPackPrice).HideLabel().InputId("halfHourTenPackTotal").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Pairs).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("pair").ToHtmlTag()
        @Html.ViewFor(x => x.PairsTenPackPrice).HideLabel().InputId("pairTotal").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.PairsTenPack).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("pairTenPack").ToHtmlTag()
        @Html.ViewFor(x => x.PairsTenPackPrice).HideLabel().InputId("pairTenPackTotal").ToHtmlTag()
    </div>
    <hr class="hrClear"/>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.PaymentTotal).InLine().AddClassToRoot("two-thirds").AddClassToInput("payment_input disableInput").InputId("total").ToHtmlTag()
    </div>
</div>
<div class="col right">
    <div class="fieldRow">
        <h4>@WebLocalizationKeys.CURRENT_CLIENT_INVENTORY</h4>
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x._sessionsAvailable.FullHour).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("fullHour").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x._sessionsAvailable.HalfHour).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("halfHour").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x._sessionsAvailable.Pair).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("pair").ToHtmlTag()
    </div>
</div>