@using CC.Core.Html.CCUI
@using MethodFitness.Web
@using MethodFitness.Web.Areas.Billing.Controllers
@model PaymentViewModel

@{
    Layout = "~/Views/Shared/_DisplayLayout.cshtml";
}

<div class="col left">
    <div class="fieldRow">
        @Html.ViewFor(x => x.FullHour).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("fullHour").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x.HalfHour).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("halfHour").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x.FullHourTenPack).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("fullHourTenPack").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x.HalfHourTenPack).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("halfHourTenPack").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.ViewFor(x => x.Pair).AddClassToRoot("two-thirds").AddClassToInput("payment_input").InputId("pair").ToHtmlTag()
    </div>
    <hr/>
    <div class="fieldRow">
        @Html.ViewFor(x => x.PaymentTotal).AddClassToRoot("two-thirds").AddClassToInput("payment_input disableInput").InputId("total").ToHtmlTag()
    </div>
</div>
@section FooterButtons
{
    @StandardButtonFor("cancel", WebLocalizationKeys.RETURN).AddClass("cancel").ToHtmlTag()
}
